/* main text color #212121 */

/* secondary text color #757575 */

/* background color #FFFFFF * /

/* secondary background color #F5F4FA */

/* accent color #2196F3 * /

/* footer navigation color rgba(255, 255, 255, 0.6) * /

/* coryright color rgba(255, 255, 255, 0.4) */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --footer-navigation-color: rgba(255, 255, 255, 0.6);
  --copyright-color: rgba(255, 255, 255, 0.4);
}

/* Html */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

/* Body */
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* ul */
ul {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

a {
  text-decoration: none;
}

/* Logo */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .accent {
  color: var(--accent-color);
}

.logo:focus {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contact */
.contact {
  display: flex;
  margin-left: auto;
}

.contact .item + .item {
  margin-left: 30px;
}

.contact .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Site header */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
}

/* Hero */
.hero {
  text-align: center;
}

.hero-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 56px;

  color: var(--background-color);
  background-color: #cccccc;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
button {
  color: var(--primary-text-color);
  background-color: var(---secondary-background-color);
  font-family: inherit;
  border-radius: 4px;
}

button:hover,
button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-bottom: 294px;

  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:focus {
  color: var(--accent-color);
}

/* Features */
.features {
  display: flex;
  justify-content: center;
}
.features .item {
  width: 278px;
  margin-right: 30px;
}
.features .item:last-child {
  margin-right: 0px;
}

.section {
  margin-bottom: 94px;

  background-color: #cccccc;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text {
  margin-top: 0px;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.works {
  display: flex;
}

.works .item {
  margin-right: 30px;
}
.works .item:last-child {
  margin-right: 0px;
}

.section-caption {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--background-color);
  background-color: #cccccc;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Team */
.team {
  display: flex;
}
.team .item {
  margin-right: 30px;
}
.team .item:last-child {
  margin-right: 0px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-headline {
  margin-top: 0px;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: column;
}
/* Clients */
.clients {
  display: flex;
}
.clients .company {
  margin-right: 30px;
}
.clients .company:last-child {
  margin-right: 0px;
}

/* Footer */

.footer-main {
  display: flex;
  align-items: center;
}
.footer-item {
  display: flex;
  flex-direction: column;
  outline: 2px solid red;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 179px;
}
.social {
  display: flex;
}

.social .icon {
  display: flex;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 10px;

  color: var(--background-color);
  background-color: #cccccc;
}
.footer .logo:focus {
  color: var(--accent-color);
}

.footer-contact .adress {
  display: block;
  margin-bottom: 9px;
  margin-top: 0px;

  color: var(--background-color);
  background-color: #cccccc;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact .link {
  display: block;
  margin-bottom: 9px;
  margin-top: 0px;

  color: var(--footer-navigation-color);
  background-color: #cccccc;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact .phone {
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;

  color: var(--footer-navigation-color);
  background-color: #cccccc;
  font-size: 14px;
  line-height: 1.71;
}

.footer .title {
  display: inline-block;
  margin-bottom: 21px;
  margin-top: 0px;

  color: var(--background-color);
  background-color: #cccccc;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.subscription {
  display: flex;
  flex-direction: column;
}
.subscription .title {
  margin-top: 0px;
}

.footer .copyright {
  color: var(--copyright-color);
  background-color: #cccccc;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Portfolio.html */
.filter-button {
  display: flex;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filter .item {
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.filter .item:nth-child(3n) {
  margin-right: 0px;
}
.filter .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.filter .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0px;
  margin-bottom: 4px;
}

.filter .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0px;
  margin-bottom: 20px;
}

.filter .description {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;
}

.footer-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-bottom: 0px;

  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}
